<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cake</title>
    <link rel="stylesheet" href="../css/cake.css" />
  </head>
  <body>
    <%- include('navbar.ejs') %>

    <div class="cake">
      <div class="top">
        <p id="level">18</p>
      </div>

      <div class="bottom">
        <div class="eyes">
          <div class="eye">
            <div class="whiteEye"></div>
          </div>
          <div class="nose"></div>
          <div class="eye2">
            <div class="whiteEye2"></div>
          </div>
        </div>
        <div class="rounds">
          <div class="round"></div>
          <div class="round2"></div>
        </div>
      </div>
    </div>
  </body>
</html>
