<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/media.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="/" style="color: white;">Congratulate</a></div>
        <ul class="nav-links">
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <div class="menu">
            <li><a href="/music">con with music</a></li>
            <li><a href="/text">con with text</a></li>
            <li><a href="/cake">con with cake</a></li>
          </div>
        </ul>
      </nav>
</body>
</html>
